// $link
// $link-hover
$link-hero: #fff;
$primary: #fa9daa;
$mobile-nav: #fa9da9b9;
$primary-tint-1: #fbacb9;
$primary-tint-2: #faa2af;
$hero: #fff;
$subheading: #e07f8c;
$secondary: #2b3742;
$card-text: #414b59;
$world-background: #ffc7ce1a;
$call-to-action: #faf7f3;
