// $link
// $link-hover
$link-hero: #fff;
$link-hero-hover: #551a8b;
$primary: #fa9daa;
$primary-tint-1: #fbacb9;
$primary-tint-2: #faa2af;
$hero: #fff;
$subheading: #e07f8c;
$secondary: #2b3742;
$card-text: #414b59;
$world-background: #ffc7ce1a;
