@use "sass" as *;

.background {
  position: relative;

  &:nth-child(2) {
    margin-top: $space-12;
  }

  &:nth-child(3) {
    margin-top: $space-8;
  }

  > svg {
    position: absolute;
    z-index: -1;
    right: -10%;
    top: -15%;
    transform: scaleX(-1);
  }
}

.card {
  background: #fff;
  box-shadow: 0 0 30px #0000001a;
  border-radius: 11px;
  padding: $space-7;
  width: 36rem;
}

.cardImg {
  width: $space-11;
  height: $space-11;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 0.7rem;
  margin-bottom: $space-7;
}

.content {
  margin-bottom: $space-8;
  color: $color-card-text;
  line-height: $font-size-7;
}

.title {
  font-weight: bold;
  font-size: $font-size-6;
  line-height: $font-size-7;
  margin-bottom: $space-4;
}

.description {
  font-weight: normal;
  font-size: $font-size-3;
  line-height: $font-size-7;
}

.explore {
  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  opacity: 0.8;
  color: var(--color-text);
  background-color: var(--color-button);
  padding: $space-5 $space-8;
  @include transition-base;

  &:hover,
  &:active {
    opacity: 1;
  }

  &:active {
    transform: translateY(0.5rem);
  }
}

@media (max-width: 84em) {
  .card {
    width: 32rem;
  }
}
@media (max-width: 75em) {
  .card {
    width: 28rem;
  }

  .background {
    > svg {
      transform: scale(-90%, +90%);
      right: -20%;
      top: -20%;
    }
  }
}
@media (max-width: 59em) {
  .card {
    width: 26rem;
    padding: $space-6;
  }

  .background {
    > svg {
      transform: scale(-65%, +65%);
      right: -40%;
      top: -30%;
    }
  }
}
@media (max-width: 44em) {
  .card {
    width: 100%;
  }

  .background {
    margin-top: 0 !important ;

    > svg {
      width: 100%;
      transform: scaleX(-1);
      right: -10%;
      top: -15%;
    }
  }
}
@media (max-width: 34em) {
  .background {
    > svg {
      transform: scaleX(-1);
      right: -10%;
      top: -20%;
    }
  }
}
