@use "sass" as *;

.container {
  max-width: 120rem;
  background-color: $color-call-to-action;
  border-radius: 14px;
  display: flex;
  align-items: center;
  margin: 0 auto $space-12;

  img {
    filter: drop-shadow(0 0 9rem #ffafaf);
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  padding: $space-7;
}

.secondary {
  font-size: $font-size-8;
  line-height: $font-size-12;
  font-weight: normal;
  color: $color-secondary;
  margin-bottom: $space-6;
}

.subheading {
  font-family: Vazirmatn, sans-serif;
  font-size: $font-size-6;
  line-height: $font-size-8;
  font-weight: normal;
  color: $color-secondary;
  margin-bottom: $space-8;
}

.mailbox {
  --input-width: 48rem;

  position: relative;

  input {
    direction: ltr;
    font-family: inherit;
    background: white;
    box-shadow: 0 0 2.5rem #00000017;
    border-radius: 1.3rem;
    border: none;
    width: var(--input-width);
    padding: $space-5;
    font-size: $font-size-5;
    line-height: $font-size-7;
    outline: none;

    @include transition-base;

    &:focus {
      box-shadow: 0 0 2.5rem #ff2a2a4b;
    }

    &::placeholder {
      color: #999;
    }
  }
}

.submit {
  width: $space-6;
  height: $space-6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $color-primary;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: $space-1;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(180deg);
  cursor: pointer;
}

@media (max-width: 75em) {
  .container {
    width: calc(100% - 6.4rem);
  }
}
@media (max-width: 59em) {
  .mailbox {
    --input-width: 100%;
  }
}
@media (max-width: 44em) {
  .container {
    position: relative;
    overflow: hidden;
  }

  .imgBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.15;
  }

  .textBox {
    z-index: 1;
  }

  .secondary {
    font-size: $font-size-7;
    line-height: $font-size-10;
    margin-bottom: $space-6;
  }

  .subheading {
    font-size: $font-size-4;
    line-height: $font-size-7;
    margin-bottom: $space-4;
  }
}
