@use "sass" as *;

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: $space-8;

  li {
    display: block;
  }
}

.link {
  &:link,
  &:visited {
    display: block;
    text-decoration: none;
    color: $color-link-hero;
    font-weight: bold;
    font-size: $font-size-6;
    @include transition-base;
  }
}

.download {
  display: block;
  text-decoration: none;
  font-family: inherit;
  border: 2px solid $color-link-hero;
  font-weight: bold;
  font-size: $font-size-5;
  padding: $space-4 $space-5;
  color: $color-primary;
  background-color: $color-link-hero;
  border-radius: 11px;
  @include transition-base;

  &:hover,
  &:active {
    color: $color-link-hero;
    background-color: $color-primary;
  }

  &:active {
    transform: translateY(0.5rem) !important;
  }
}

@media (max-width: 75em) {
  .link {
    &:link,
    &:visited {
      font-size: $font-size-3;
    }
  }

  .download {
    font-size: $font-size-4;
  }
}
@media (max-width: 59em) {
  .main {
    display: block;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    padding-inline: $space-8;
    padding-bottom: $space-10;
    z-index: 2;
    transform: translateX(-100%);
    overflow-y: scroll;
    scrollbar-width: none;
    @include transition-base;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .mobileNavOpen {
    transform: translateX(0%);
  }

  .list {
    display: flex;
    flex-direction: column;
    padding-top: calc($space-10 + $space-7);
    padding-bottom: $space-7;
    gap: $space-7;
  }

  .link {
    &:link,
    &:visited {
      font-size: $font-size-5;
      font-weight: bold;
    }
  }

  .download {
    font-size: $font-size-5;
  }
}
