@use "sass" as *;

.container {
  padding: $space-11;
}

.subheading {
  font-size: $font-size-6;
  line-height: $font-size-9;
  font-weight: normal;
  margin: $space-4 0;
  text-align: center;
  color: $color-subheading;
}

.secondary {
  font-size: $font-size-8;
  line-height: $font-size-12;
  font-weight: normal;
  color: $color-secondary;
  text-align: center;
  margin-bottom: $space-11;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: $space-11;
}

@media screen and (max-width: 84em) {
  .container {
    display: none;
  }
}
