@font-face {
  font-family: Mikhak;
  src: url("./fonts/Mikhak-VF-FD.woff2") format("woff2"),
    url("./fonts/Mikhak-VF-FD.ttf") format("ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Mikhak, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
