/**
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights
Default: 400
Bold: 700
- Line heights
- Letter spacing

--- 02 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 03 COLORS
- Primary: #fa9daa
- Tints: #fbacb9
- Shades: 
- Accents:
- Greys

--- 04 SHADOWS

--- 05 BORDER-RADIUS

*/
@font-face {
  font-family: Mikhak;
  src: url("./fonts/Mikhak-VF-FD.woff2") format("woff2"),
    url("./fonts/Mikhak-VF-FD.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2"),
    url("./fonts/Vazirmatn-Regular.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Vazirmatn;
  src: url("./fonts/Vazirmatn-Bold.woff2") format("woff2"),
    url("./fonts/Vazirmatn-Bold.ttf") format("ttf");
  font-display: swap;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  direction: rtl;
}

body {
  background-color: #fff;
  font-family: Mikhak, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
