@use "sass" as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: $color-link-hero;
}

.logoImg {
  margin-inline-end: 0.4rem;
}

.logoText {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
